### ANALYSIS OF BEST T PARAMETER GIVEN A K-ANONYMIZED DATASET

In order to stablish an enough restrictive value for t when applying t-closeness we make use of the pycanon library to get the already existing value of t given a k-anonymized dataset:

In [1]:
import pandas as pd
import pycanon
from pycanon import report, anonymity

### K=2

In [2]:
file_name = "/home/carmen/Escritorio/TFM/ml_anonymization/datasets/bank_dataset/csv/bank_k_2-anonymized.csv"
df = pd.read_csv(file_name, sep=";")

In [3]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
y                 0
dtype: int64

In [4]:
print(df.head())
print(df.info())
print(df.describe())
print(df.shape)

        age       job      marital          education  default housing loan  \
0  [20, 40[  Employed  Not married              Basic       no      no   no
1         *         *            *                  *        *       *    *
2  [20, 40[  Employed  Not married  University Degree       no     yes   no
3  [40, 60[  Employed      Married              Basic  unknown     yes   no
4  [40, 60[  Employed      Married              Basic       no     yes   no

     contact month day_of_week emp.var.rate cons.price.idx cons.conf.idx  \
0  telephone   jul           1          1.4         93.918         -42.7
1          *     *           *            *              *             *
2   cellular   jul           2          1.4         93.918         -42.7
3  telephone   jun           2          1.4         94.465         -41.8
4   cellular   nov           1         -0.1           93.2           -42

  euribor3m   y
0         5  no
1         *  no
2         5  no
3         5  no
4         4  no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  object
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  emp.var.rate    41188 non-null  object
 11  cons.price.idx  41188 non-null  object
 12  cons.conf.idx   41188 non-null  object
 13  euribor3m       41188 non-null  object
 14  y               41188 non-null  object
dtypes: object(15)
memory usage: 4.7+ MB
None
             age       job  marital education default housing   loan  \
count      41188     41188    41188     41188   41188   41188  41188
unique         6         6        4         7       3       4      4
top     [20, 40[  Employed  Married     Basic      no     yes     no
freq       20842     34211    22848     11548   29533   19600  31464

         contact  month day_of_week emp.var.rate cons.price.idx cons.conf.idx  \
count      41188  41188       41188        41188          41188         41188
unique         3     11           3           10             26            26
top     cellular    may           1          1.4         93.994         -36.4
freq       23717  12991       22558        15385           7494          7494

       euribor3m      y
count      41188  41188
unique         8      2
top            5     no
freq       22905  36548
(41188, 15)

In [5]:
q_i=["age","job","marital","education","default","housing","loan","contact","month","day_of_week","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m"]
a_s = ["y"]

def delete_rows(file_name, quasi_ident, fillna=True):
    """Delete the rows of the given file in which all QIs are set to *."""
    df = pd.read_csv(file_name, sep = ";")
    df_qi = df[quasi_ident]
    tmp = df_qi[df_qi == ["*"] * len(quasi_ident)]
    tmp.dropna(inplace=True)
    df_new=df.drop(tmp.index.values, axis = 0).reset_index()
    print(df_new)
    return df_new

In [6]:
new_dataset = delete_rows(file_name,q_i)

       index       age       job      marital          education  default  \
0          0  [20, 40[  Employed  Not married              Basic       no
1          2  [20, 40[  Employed  Not married  University Degree       no
2          3  [40, 60[  Employed      Married              Basic  unknown
3          4  [40, 60[  Employed      Married              Basic       no
4          5  [20, 40[  Employed  Not married        HIgh School       no
...      ...       ...       ...          ...                ...      ...
37187  41183  [20, 40[  Employed  Not married              Basic       no
37188  41184  [40, 60[  Employed      Married        HIgh School       no
37189  41185  [40, 60[  Employed      Married  University Degree       no
37190  41186  [20, 40[  Employed  Not married  University Degree       no
37191  41187  [40, 60[  Employed      Married  University Degree       no

      housing loan    contact month day_of_week emp.var.rate cons.price.idx  \
0          no   no  telephone   jul           1          1.4         93.918
1         yes   no   cellular   jul           2          1.4         93.918
2         yes   no  telephone   jun           2          1.4         94.465
3         yes   no   cellular   nov           1         -0.1           93.2
4         yes  yes   cellular   may           2         -1.8         92.893
...       ...  ...        ...   ...         ...          ...            ...
37187     yes   no  telephone   jun           1          1.4         94.465
37188      no   no   cellular   aug           1          1.4         93.444
37189     yes   no   cellular   nov           2         -0.1           93.2
37190      no   no  telephone   jun           2          1.4         94.465
37191     yes   no   cellular   nov           1         -3.4         92.649

      cons.conf.idx euribor3m    y
0             -42.7         5   no
1             -42.7         5   no
2             -41.8         5   no
3               -42         4   no
4             -46.2       1.5   no
...             ...       ...  ...
37187         -41.8         5   no
37188         -36.1         5   no
37189           -42         4   no
37190         -41.8         5   no
37191         -30.1       0.5  yes

[37192 rows x 16 columns]

In [ ]:
new_dataset

In [ ]:
t = pycanon.anonymity.t_closeness(new_dataset, q_i, a_s)
print(t)

The "already exisiting" value for t with the 2-anonymity dataset is **0.56**. Therefore, when choosing the t value for anonymizating the dataset, it has to be bellow this value to be more restrictive and applying more anonymization.

We will stablish the t value of t=0.5 when generating the anonymized dataset of k=2.