### ANALYSIS OF BEST T PARAMETER GIVEN A K-ANONYMIZED DATASET

In order to stablish an enough restrictive value for t when applying t-closeness we make use of the pycanon library to get the already existing value of t given a k-anonymized dataset:

In [1]:
import pandas as pd
import pycanon
from pycanon import report, anonymity

### K=2

In [2]:
file_name = "/home/carmen/Escritorio/TFM/ml_anonymization/datasets/bank_dataset/csv/bank_k_2-anonymized.csv"
df = pd.read_csv(file_name, sep=";")

q_i=["age","job","marital","education","default","housing","loan","contact","month","day_of_week","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m","nr.employed"]
a_s = ["y"]

def delete_rows(file_name, quasi_ident, fillna=True):
    """Delete the rows of the given file in which all QIs are set to *."""
    df = pd.read_csv(file_name, sep = ";")
    df_qi = df[quasi_ident]
    tmp = df_qi[df_qi == ["*"] * len(quasi_ident)]
    tmp.dropna(inplace=True)
    df_new=df.drop(tmp.index.values, axis = 0).reset_index()
    print(df_new)
    return df_new

In [3]:
new_dataset = delete_rows(file_name,q_i)

t = pycanon.anonymity.t_closeness(new_dataset, q_i, a_s)
print(t)

       index       age         job      marital            education  default  \
0          0  [20, 40[    Employed  Not married          HIgh School       no
1          2  [40, 60[    Employed      Married  Professional Course       no
2          4  [20, 40[    Employed      Married                Basic       no
3          8  [40, 60[     Unknown      Married              Unknown       no
4         10  [40, 60[  unemployed      Married                Basic  unknown
...      ...       ...         ...          ...                  ...      ...
34917  41183  [20, 40[    Employed  Not married    University Degree       no
34918  41184  [60, 80[    Employed      Married              Unknown       no
34919  41185  [20, 40[    Employed      Married          HIgh School       no
34920  41186  [40, 60[    Employed      Married                Basic       no
34921  41187  [40, 60[    Employed      Married                Basic  unknown

      housing loan    contact month day_of_week emp.var.rate cons.price.idx  \
0         yes   no   cellular   jul         thu          1.4         93.918
1         yes  yes   cellular   nov         fri         -0.1           93.2
2          no   no  telephone   may         thu          1.1         93.994
3         yes   no   cellular   jul         thu          1.4         93.918
4          no   no   cellular   jul         mon          1.4         93.918
...       ...  ...        ...   ...         ...          ...            ...
34917     yes   no   cellular   aug         fri          1.4         93.444
34918     yes   no   cellular   may         wed         -1.8         93.876
34919     yes   no  telephone   may         thu          1.1         93.994
34920      no  yes   cellular   apr         mon         -1.8         93.075
34921      no   no  telephone   may         thu          1.1         93.994

      cons.conf.idx euribor3m nr.employed    y
0             -42.7         5         NaN   no
1               -42         4         NaN   no
2             -36.4         5        5191   no
3             -42.7         5         NaN   no
4             -42.7         5         NaN   no
...             ...       ...         ...  ...
34917         -36.1         5         NaN   no
34918           -40       0.5         NaN  yes
34919         -36.4         5        5191   no
34920         -47.1       1.5         NaN   no
34921         -36.4         5        5191   no

[34922 rows x 17 columns]
index              int64
age               object
job               object
marital           object
education         object
default           object
housing           object
loan              object
contact           object
month             object
day_of_week       object
emp.var.rate      object
cons.price.idx    object
cons.conf.idx     object
euribor3m         object
nr.employed       object
y                 object
dtype: object

TypeError: '<' not supported between instances of 'str' and 'float'

The "already exisiting" value for t with the 2-anonymity dataset is **0.56**. Therefore, when choosing the t value for anonymizating the dataset, it has to be bellow this value to be more restrictive and applying more anonymization.

We will stablish the t value of t=0.5 when generating the anonymized dataset of k=2.